/*Para tag, usa somente o nome*/
body {
  /*background-color altera o fundo*/
  background-color: #99ccff;
}
/*Para classe, usa-se "." + o nome da classe*/

.cabecalho{
  background-color: #0d69f2;
  color: #ff6666;
  font-size: 20px;
  text-align: center;
}

.menu{
  background-color: #0d69f2;
  /* color altera a cor da fonte */
  color: #5e0808;
  /* altera o tamanho da fonte */
  font-size: 16px;
}


.conteudo{
  /* borda */
  border-style: solid;
  border-width: 10px;
  border-color: #ccf7a1;
  background-color: #c2cdf0;
  /* margem interna pode ser alterada utilizando o padding */
  padding: 10px;
}

/* um id é representado pelo sinal # + nome do id*/
#rodapePrincipal{
  /* altera o alinhamento do texto */
  text-align: right;
}

.rodape{
  background-color: #6ab3fb;
  /* altera fonte */
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-size: 13px;
}
